<div class="b-testimonials-item  ">
    <p class=" dib b-testimonials_quote quote tal">
        {% if testmonials_text %} {{ testmonials_text }} {% else %}"&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum felis fermentum.&#8221;&rdquo;"{% endif %}
    </p>
    <p class=" dib b-testimonials_quote__label tal">-
        {% if testmonials_autor %} {{ testmonials_autor }} {% else %}Client Name, Big&nbsp;Company{% endif %}
    </p>
</div>

