<div class="latest-news-item">
    <div class="row lg-mb30 ">
        <div class="col-xs-12 col-lg-8">
            <div class="img-wrapper">
                <img class="img-responsive" src="http://placehold.it/370x220" alt="">
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="latest-news-item__info">
                <h4><a class="text-black" href="">A SUBJECT THAT IS BEAUTIFUL IN ITSELF</a></h4>
                <div class="record-info__date__attributes visible-lg mb25">
                    <div class="record-info__date__attributes-item ">
                        <i class="icon-fl">&#xe801</i>
                        <p class="dib vam text-orange tdu">{% if record_autor %} {{ record_autor }} {% else %}admin{% endif %}</p>
                    </div>
                    <div class="record-info__date__attributes-item ">
                        <i class="icon-fl">&#xe802</i>
                        <p class="dib vam text-orange tdu">{% if record_commetns %} {{ commetns }} {% else %}28{% endif %}
                            comments</p>
                    </div>
                    <div class="record-info__date__attributes-item ">
                        <i class="icon-fl">&#xe803</i>
                        <p class="dib vam text-orange tdu">{% if record_tags %} {{ record_tags }} {% else %}photoshop, tutorials, events{% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="dib mr10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum felis fermentum ipsum
        molestie sed porttitor ligula rutrum. Vestibulum lectus tellus, aliquet et iaculis sed, volutpat vel erat.&nbsp;<a class='tdu dib' href="#">readmore</a></p>

</div>