<div class="grid-wrapper">
    <div class="p-main_masonry-item ovh thumbnail">
        <div class="masonry-item__img p-rel">
                <img class="img-responsive" src="http://placehold.it/270x220" alt="">
                <div class="masonry-overlay"></div>
                <span class="b-masonry-icons">
                    <a href="#" class="masonry-overlay-icon  icon-fl mr15">&#xe806</a>
                    <a href="#" class="masonry-overlay-icon  icon-fl">&#xe809</a>
                </span>
        </div>

        <div class="caption">
            <a href="#" class="p-main_masonry-item-link dib">Lorem ipsum dolfor.</a>
            <p class="p-main_masonry-item-label dib">Lorem ipsum dolor sit ametffd.</p>
        </div>
    </div>
</div>