<div class="tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#comments" data-toggle="tab">comments</a>
        </li>
        <li>
            <a href="#tweets" data-toggle="tab">tweets</a>
        </li>
        <li>
            <a href="#about" data-toggle="tab">about</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="comments">
            <div class="dashed-list">
                <ul class="list-group">
                    <li class="">
                        <i class="icon-fl">&#xe802</i>
                        <p class="dib vam text-orange tdu"><i
                                    class="text-black pr5">admin</i>admin
                            Lorem ipsum dolor sit amet.</p>
                    </li>
                    <li>
                        <i class="icon-fl">&#xe802</i>
                        <p class="dib vam text-orange tdu"><i
                                    class="text-black pr5">admin</i>admin
                            Lorem ipsum dolor sit amet.</p>
                    </li>
                    <li>
                        <i class="icon-fl">&#xe802</i>
                        <p class="dib vam text-orange tdu"><i
                                    class="text-black pr5">admin</i>admin
                            Lorem ipsum dolor sit amet.</p>
                    </li>
                    <li>
                        <i class="icon-fl">&#xe802</i>
                        <p class="dib vam text-orange tdu"><i
                                    class="text-black pr5">admin</i>admin
                            Lorem ipsum dolor sit amet.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="tweets">
            <div class="dashed-list">
                <ul class="list-group">
                    <li>
                        <i class="icon-fl">&#xe805</i>
                        <p class="dib vam text-black tdu"><i
                                    class="text-orange pr5">admin</i>admin
                            Lorem ipsum dolor sit amet.</p>
                    </li>
                    <li>
                        <i class="icon-fl">&#xe805</i>
                        <p class="dib vam text-black tdu"><i
                                    class="text-orange pr5">admin</i>admin
                            Lorem ipsum dolor sit amet.</p>
                    </li>
                    <li>
                        <i class="icon-fl">&#xe805</i>
                        <p class="dib vam text-black tdu"><i
                                    class="text-orange pr5">admin</i>admin
                            Lorem ipsum dolor sit amet.</p>
                    </li>
                    <li>
                        <i class="icon-fl">&#xe805</i>
                        <p class="dib vam text-black tdu"><i
                                    class="text-orange pr5">admin</i>admin
                            Lorem ipsum dolor sit amet.</p>
                    </li>
                </ul>
            </div>
        </div>

    <div class="tab-pane mb20" id="about">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias atque
            aut corporis cumque delectus dignissimos doloremque dolorum eligendi, error
            eveniet exercitationem facere fuga, hic illo incidunt ipsa iste laborum libero
            molestias nam necessitatibus porro quae quia quo quod rem rerum sapiente sed
            sequi sint suscipit tenetur totam? Mollitia, officiis!</p>
    </div>
    </div>
</div>