<footer>
    <div class="container">
        <div class="row footer-inform-list">
            <div class="footer-inform-list-item col mb35">
                <h5 class="mb30 tablet-mb15">about us</h5>
                <span class="footer-logo-icon mb15"></span>
                <div class="footer-about-us-inform mb40">
                    <p>Design team</p>
                    <p class="text-grey">123 Main St, Suite 500</p>
                    <p class="text-grey">New York, NY 12345</p>
                </div>
                <div class="footer__socials">
                    <div class="footer__socials__item">
                        <span class="socials-circle-icon-wrapper dib facebook-icon orange">
                        </span>
                    </div>
                    <div class="footer__socials__item">
                        <span class="socials-circle-icon-wrapper dib twitter-icon pink">
                        </span>
                    </div>
                    <div class="footer__socials__item">
                        <span class="socials-circle-icon-wrapper dib rss-icon lightblue">
                    </span>
                    </div>
                    <div class="footer__socials__item">
                        <span class="socials-circle-icon-wrapper dib gplus-icon blue">
                    </span>
                    </div>
                    <div class="footer__socials__item">
                        <span class="socials-circle-icon-wrapper dib facebook-icon green">
                    </span>
                    </div>
                </div>

            </div>
            <div class="footer-inform-list-item col mb35">
                <h5 class="mb30 tablet-mb15">LATEST TWEETS</h5>
                <div class="mb30">
                    <p class="di">@room122</p>
                    <p class="text-grey di">In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi

                </div>
                <div class="mb30">
                    <p class="di">@room122</p>
                    <p class="text-grey di">In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi
                </div>
                <div>
                    <p class="di">@room122</p>
                    <p class="text-grey di">In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi
                </div>
            </div>
            <div class="footer-inform-list-item col mb35">
                <h5 class="mb30 tablet-mb15">Latest posts</h5>
                <div class="dashed-list">
                    <ul class="list-group clearfix orange-hover">
                        <li class="list-item">
                            <a href="#" class="white orange-hover">Lorem ipsum dolor sit amet, consectetur.</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="white orange-hover">Lorem ipsum dolor sit amet, consectetur.</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="white orange-hover">Lorem ipsum dolor sit amet, consectetur.</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="white orange-hover">Lorem ipsum dolor sit amet, consectetur.</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="white orange-hover">Lorem ipsum dolor sit amet, consectetur.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-inform-list-item col mb35">
                <h5 class="mb30 tablet-mb15">about us</h5>
                <div class="footer-masonry clearfix">

                    <div class="grid-wrapper hidden-sm">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper hidden-sm">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper hidden-sm">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper hidden-sm">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="img-wrapper">
                            <img class="img-responsive"  src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="img-wrapper">
                            <img  class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="img-wrapper">
                            <img class="img-responsive"  src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="img-wrapper">
                            <img  class="img-responsive" src="http://placehold.it/100x100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="fl-justify">
                        <div class="col">
                            <span class="text-grey ">Copyright 2012 Piccolo Theme. All rights reserved.</span>
                        </div>
                        <div class="hidden-sm hidden-xs">
                            <nav class="footer__bottom-panel__nav white">
                                <a href="#" class="footer__bottom-panel_bottom-dashed-list_bottom-nav-item">Home</a>
                                <a href="#" class="footer__bottom-panel__bottom-nav-item">Features</a>
                                <a href="#" class="footer__bottom-panel__bottom-nav-item">Gallery</a>
                                <a href="#" class="footer__bottom-panel__bottom-nav-item">Blog</a>
                                <a href="#" class="footer__bottom-panel__bottom-nav-item">Contact</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>